<h1>Calculte your Co2 emmision</h1>

<%# @journeys.inspect %>

<%= form_with url: "/result", method: :post do |form| %>
  <%= form.label :km, "Travel distance in km :" %>
  <%= form.number_field :km, in: 1.0..999999.0, step: 0.1 %>
  <%= form.submit "Calculer" %>
<% end %>
